*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2.5rem;
  --space-xl: 4rem;

  --content-max-width: 40rem;
}

body {
  margin: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  width: 100%;
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding-inline: var(--space-md);
  text-align: center;
  padding-block: var(--space-md);
}

header {
  flex: 0 0 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-xs);
  padding-block: var(--space-xs);
}

.intro img,
.intro h1,
.intro p {
  margin: 0;
}

#intro-pronoun {
  font-size: 1rem;
}

#intro-bio {
  font-size: 1.2rem;
}

#intro-name {
  font-size: 2rem;
}

#intro-photo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  margin-bottom: var(--space-sm);
}


.projects {
  padding-block: var(--space-lg);
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  padding-left: 0;
  list-style: none;
}

.project {
  padding: var(--space-xs) var(--space-sm);
}

.project-display-name {
  text-decoration: none;
  display: inline-block;
  transition: transform 0.15s ease;
}

.project:hover .project-display-name {
  text-decoration: underline;
  transform: translateX(0.25rem);
}

.contact {
  text-align: center;
  padding-block: var(--space-xs);
}
